@font-face {
  src: url("../font/Outfit-Regular.ttf") format("truetype");
  font-family: Outfit;
}

$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$cyan-tranparent: hsla(178, 100%, 50%, 0.449);
$very-dark-blue-bg: hsl(217, 54%, 11%);
$very-dark-blue-card-bg: hsl(216, 50%, 16%);
$very-dark-blue-line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);
$outfit: Outfit, sans-serif ; 
$border-radius: .8rem;

html {
  font-family: $outfit;
  font-size: 16px;
} 

body {
  background-color: $very-dark-blue-bg;
  color: $white;
  display: grid;
  place-items: center;

}

.card {
  width: 260px;
  background-color: $very-dark-blue-card-bg;
  padding: 1rem;
  border-radius: $border-radius; 

  &__img {
    position: relative;
    max-width: 100%;
    height: auto;
    border-radius: $border-radius; 

    &:hover .card__hidden{
      opacity: 1;
  }
  } 

  &__hidden {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    opacity: 0;
    width: 100%;
    height: 260px;
    border-radius: $border-radius;
    background-color: $cyan-tranparent;
    transition: all 500ms ease-in-out;
    // z-index: 2;
  }

  &__avatar {
    width: 30px;
    height: 30px;
    margin-right: .7rem;
  }

  & .eth {
    color: $cyan;
  }
}
 

hr {
  border: 1px solid $very-dark-blue-line; 
}

a {
  text-decoration: none; 
  color: $white;
}

a:hover {
  color: $cyan;
}

// utilities
.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.text-light {
  color: $soft-blue;
}

.icon {
  margin-right: .4rem;
}

.mb-1 {
  margin-bottom: .6rem;
}